body {
    background-color: #292c33;
    color: #ddd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

h1, h2 {
    margin-top: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #16171b;
    margin-bottom: 0px;
}

h1 {
    background-color: #292c33;
    color: #ddd;
    padding: 4px;
    height: 60px;
    margin-bottom: 0px;
    font-family: Helvetica, sans-serif;
}
h2{
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;
}

.header{
    margin-top: 10px;
    height: 50px;
    border: 1px solid #ddd;
    border-bottom: none;
    padding: 10px;
}

#swaggerSchema, #apiUI {
    background-color: #333;
    border: none;
    color: #ddd;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

#swaggerSchema {
    height: 200px;
}

button {
    background-color: #007acc;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
}

button:hover {
    background-color: #0067a3;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
    background-color: #000;
    border: none;
    color: #ddd;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0px;
    width: 100px;
    padding-left: 4px;
}

input[type="text"]::placeholder, select::placeholder {
    color: #aaa;
}

input[type="submit"] {
    background-color: #007acc;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #0067a3;
}

textarea {
    background-color: #000;
    border: none;
    color: #ddd;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    resize: none;
    width: 400px;
}

code {
    background-color: #555;
    color: #ddd;
    font-family: Consolas, monospace;
    font-size: 12px;
    padding: 2px;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(even) {background-color: #525252;}

.container{
    display: block;
    width: 100%;
    height:auto;
    overflow: hidden;
}

.inline{
    float: left;
    width: 50%;
}
.full{
    display: block;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.my_column {
    float: left;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.my_row {
    height: calc(100% - 120px);
    overflow: none;
}
/* Clear floats after the columns */
.my_row:after {
    content: "";
    display: table;
    clear: both;
}

.left_col{
    width: 400px;
    background-color:#2a2c33;
    border: 1px solid #ddd;
}

.right_col{
    width: calc(100% - 400px);
    background-color:#2a2c33;
    border: 1px solid #ddd;
}

.large_input {
    width: 750px !important;
    margin-bottom: 0px;
}

.small_input {
    width: 150px !important;
    margin-bottom: 0px;
    background-color: #525252;
    color: #fff;
}

td.last {
    width: 1px;
    white-space: nowrap;
}

td{
    white-space: nowrap;
    overflow: hidden;
}

.clickable{
    cursor: pointer;
}

tbody tr td:first-child{
    /* width: 1em;
    min-width: 1em;
    max-width: 1em;
    column-width: 1em; */
    word-break: break-all;
    text-overflow: ellipsis;
    /* max-width: 100px; */
}

table{
    font-size: 18px;
    table-layout: auto;
}

thead th {
    text-transform: none;
    text-overflow: ellipsis;
    max-width: 100px;
}

tbody tr:hover {
    background-color: #485789;
}

.form_div{
    padding: 20px;
}

textarea:hover{
    background-color: #000;
}
textarea:focus{
    background-color: #000;
}

[type=text]:hover{
    background-color: #000;
}
[type=text]:focus{
    background-color: #000;
}

[type=number]:hover{
    background-color: #000;
}
[type=number]:focus{
    background-color: #000;
}

select:hover {
    background-color: #000;
}
select:focus {
    background-color: #000;
}
select:active{
    background-color: #000;
}
select:focus-visible{
    outline: 1px solid #1c5186;
    outline-offset: -1px;
}

[type=text]:focus-visible{
    outline: 1px solid #1c5186;
    outline-offset: -1px;
}
[type=number]:focus-visible{
    outline: 1px solid #1c5186;
    outline-offset: -1px;
}
textarea:focus-visible{
    outline: 1px solid #1c5186;
    outline-offset: -1px;
}

.log_output{
    border: 1px solid #ddd;
    background-color: #000;
    margin: 10px;
    font-size: 12px;
    padding: 10px;
    max-height: 200px;
    overflow: scroll;
}

h3{
    margin-left: 10px;
}

.folder{
    margin-left: -30px;
    cursor: pointer;
}

.details{
    border: 1px solid #ddd;
    background-color: #000;
    color: #ddd;
    margin: 10px;
    font-size: 14px;
    font-family: monospace;
    line-height: 1em;
}

.poolBtn{
    cursor: pointer;
    margin-top: 17px;
    float: right;
    margin-right: 10px;
    font-size: 18px;
}

thead tr {
    background-color: #000;
}

th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}